[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
firebase-admin = "*"
functions-framework = "*"
werkzeug = "*"
flask = "*"
google-cloud-logging = "*"
google-cloud-firestore = "*"
